html, body {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f73680;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: calc(100% - 100px);
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
}

@media (max-width: 600px) {
  .container {
    padding: 10px;
  }
}
