<div>
  <mat-form-field appearance="fill">
    <mat-label>Enter your password</mat-label>
    <input matInput type="password" [(ngModel)]="password" (input)="getPasswordStrength()">
  </mat-form-field>
</div>

<div class="strength-indicator">
  <div [ngClass]="sections[0]" class="strength-section"></div>
  <div [ngClass]="sections[1]" class="strength-section"></div>
  <div [ngClass]="sections[2]" class="strength-section"></div>

  @if (sections[0] === 'red') {
    <span>Simple password</span>
  }
  @if (sections[0] === 'yellow') {
    <span>Average password</span>
  }
  @if (sections[0] === 'green') {
    <span>Complex password</span>
  }
</div>

<div class="strength-icon">
  @if (sections[0] === 'gray') {
    <mat-icon>sentiment_neutral</mat-icon>
  }
  @if (sections[0] === 'red') {
    <mat-icon>sentiment_very_dissatisfied</mat-icon>
  }
  @if (sections[0] === 'yellow') {
    <mat-icon>sentiment_satisfied</mat-icon>
  }
  @if (sections[0] === 'green') {
    <mat-icon>sentiment_very_satisfied</mat-icon>
  }
</div>

